[2021-09-03 19:31] eyal0 opened #15 "./run_test fails on Unix"
To reproduce, make and install the code and then:

[code]

I'm seeing this result:

[code]

I'll start with a git bisect to see where it was introduced.

[2021-09-03 19:32] eyal0 opened #16 "Add run_tests.sh to the CI"
We should be running tests in CI after the build.

This issue can't be fixed until #15 is fixed.

[2021-09-03 19:54] eyal0 commented on #15
I went back a few years and as far as I can tell, these tests have been broken for a long, long time.  Looks like maybe no one touched them since 2008!

They are golden file tests: gerbv makes an output in the form of an image and the image is compared against the expected image to see if there are any changes.

Seeing as the tests have been failing for so long, rather than try to figure out what'

[2021-09-03 20:05] ooxi commented on #15
I tend to agree @eyal0. I think it's more important to get a new test suite up and running then trying to get the old tests working again.

Nevertheless I am a bit torn about the old test design, since it is comparing images to well known golden samples. Is this portable at all with regards to hardware acceleration for graphic operations?

Using golden images is however good for manual verificatio

[2021-09-03 22:24] eyal0 commented on #15
Good question.  I have seen errors in my own code with similar things.  For example, we might find that the precision of `float` or `double` is different on different platforms and the tests fail on some computers.  Or optimizations by different compilers that introduce minor floating point errors.  Or underlying libraries like the gtk that behave differently.  I have dealt with stuff like this be

[2021-09-04 12:24] ooxi commented on #15
That sounds good!

[2021-09-04 15:02] #15 closed

[2021-09-04 16:57] #16 closed

[2021-09-07 10:42] efa opened #19 "porting to Windows and packaging"
I had opened this issue just to discuss my tests and try to build current (and maybe old) sources to Win10 64 bit.
In the past I had built v2.6.2 and v2.7.0 @32/64bit for Win7, and git sources till 2020 @32/64bit for Win10.
I had made some tests now with github sources, I report here results and maybe ask solutions as not everything work as expected.

[2021-09-07 10:46] efa commented on #19
the first thing I discovered was that v2.7.0 built do not generated "src/.libs/libgerbv-1.dll" and that installation used the 2.6.2 version in the system, and luckily worked but has to be solved.
Current github sources has the same problem, I cannot find libgerbv-1.dll, while binary is built. Will go into it.

[2021-09-07 15:33] efa commented on #19
I had an archive of the source and binaries I generated, I re-tested all, and get this results:
[code]
About last github sources ~bcc3ba, on Windows I cannot cannot open any .gvp as goes to Segmentation fault

[2021-09-07 15:47] eyal0 commented on #19
I used libgerbv in Windows with msys2 in the pcb2gcode project. It works well and passes all tests.

What is your goal for a windows build of gerbv? Do you want just the library or the GUI, too?

[2021-09-07 16:06] efa commented on #19
we use the GUI

[2021-09-07 17:45] efa commented on #19
the not generation of "src/.libs/libgerbv-1.dll" seems related to this build message:
[code]

[2021-09-07 17:53] efa commented on #19
with ldd I can confirm that gerbv versions that do not generated libgerbv DLL, do not depend on that external dependency

[2021-09-07 19:15] efa commented on #19
without my patch the results are the same.

I rechecked the dependency with ldd, and all DLL are available, copyed from Mingw path:
/d/Programmi/msys64//mingw64/bin
/d/Programmi/msys64//mingw32/bin
[code]
any hint?

[2021-09-07 21:02] efa commented on #19
I captured the crashlog of the current github sources build @64bit on Win10, happen opening every .gvp:
[code]

[2021-09-07 23:19] efa commented on #19
my configure command is:
$ configure --enable-unit-mm --disable-update-desktop-database --prefix=/d/installer/gerbv-2021-09-06github

[2021-09-09 14:38] ooxi commented on #19
Thank you very much for your effort in reproducing this bug and bringing it to our attention. I can confirm that opening a gvp project file multiple times seems to crash gerbv on Windows (tested using wine).

I'll try to reproduce this on linux since I'm not very familiar with debugging on windows. But crashing inside the scheme allocator does not look like it's a Windows only bug.

[2021-09-09 20:45] efa commented on #19
did you cross-compile on LInux to Windows using MXE?

I cannot confirm this on Debian 10, I never got an exception but valgrind show
[code]
and memory leak:
[code]
but can depend on a smarter memory allocation, maybe the freed memory are not reused immediately (maybe for the random allocation anti crack), so no exception.
On Windows is deterministic, lot of exception

[2021-09-10 13:42] ooxi commented on #19
I cross compiled on Linux to Windows using mingw64 shipped with Fedora. Since cairo, glib and gtk are already package, I just had to switch [configure to mingw64-configure](https://github.com/gerbv/gerbv/blob/main/.mc/windows:amd64/opt/configure.sh#L5).

I did not yet succeed in including dxflib, however.

This is strange. I'm also not entirely certain what causes the crash. Because when using val

[2021-09-10 13:54] ooxi commented on #19
@efa could you confirm that replacing `mainProject->path` with a fixed path (like "/tmp") in [callbacks.c line 365](https://github.com/gerbv/gerbv/blob/main/src/callbacks.c#L365) hotfixes the crash on Windows, too?

[2021-09-10 13:56] efa commented on #19
on my Linux I tested up to 6 gvp without crash.
Will try to put /tmp in callbacks.c and recompile

[2021-09-12 10:30] efa commented on #19
bad news. Both tests fail with same results. I also made a test with both patched togethere same result.

[2021-09-12 10:47] efa commented on #19
bingo, his version is stable on opening gvp files.
It is based on Sourceforge last commit
http://git.geda-project.org/gerbv/tree/?id=b5f1eacd798f327ab319af939f89031db4b7c10a
and has pushes of 18 days ago.
More he supply already a Win package with all dependencies, as current 'make install' is quite unsufficient.

[2021-09-12 17:30] efa commented on #19
I also tested the git version of @eyal0 at https://github.com/eyal0/gerbv
Compiled on Windows, it crash on first .gvf file opened.
Compiled on Linux, work with no crash, but Valgrind show double free like current github

[2021-09-12 19:00] ooxi commented on #19
We still have invalid memory access and most likely Windows is stricter about this than Linux :(

thats' great news! Did you by any chance happen to know which patches fixed the crashing? [#77 Fix double-freeing memory](https://sourceforge.net/p/gerbv/patches/77/) looks promising.

I already tried reaching out to @kitanokitsune, however without luck :(

[2021-09-12 19:02] efa commented on #19
the  gerbv/gerbv on github, it is based on Sourceforge last git commit, plus which patches?

[2021-09-12 19:04] efa commented on #19
I think this is due the fact that MSYS2 supply gcc 10.2, while on Linux most of us has still gcc 8.x

I'm doing that and https://sourceforge.net/p/gerbv/patches/83/

[2021-09-12 20:38] efa commented on #19
patch #83 Crash may occur on opening/saveing files was already applied to gerbv/gerbv
patch #77 Fix double-freeing memory was partially applied and appling the missing part do not avoid the crash.
Will check what other differences are there.
It would be very useful to know which patches have already been applied to this gerbv/gerbv repository versus the Sourceforge one

[2021-09-13 00:11] efa commented on #19
well, patch `#81 Fix casting pointer to different size integer` avoid crash on first .gvp open,
while, patch `#77 Fix double-freeing memory` applying the missing part, avoid crash on next .gvp open
Anyway, the other patches applied by @kitanokitsune seems to me can be useful

[2021-09-13 10:13] efa commented on #19
#81 Fix casting pointer to different size integer
https://github.com/gerbv/gerbv/pull/20

[2021-09-13 12:12] efa commented on #19
#77 Fix double-freeing memory, the part that was not already applyed
https://github.com/gerbv/gerbv/pull/21

[2021-09-13 12:13] efa commented on #19
those two PR are the minimum to have a gerbv working on Windows, like was release 2.6.2

[2021-09-13 16:01] ooxi commented on #19
Thank you very much @efa for this analysis! The PR CI is currently running and I will then reintegrate your changes :-)

This repository is based on the latest commit from git.geda-project.org (see commit b5f1eacd798f327ab319af939f89031db4b7c10a on [geda-project](http://git.geda-project.org/gerbv/tree/?id=b5f1eacd798f327ab319af939f89031db4b7c10a) and [GitHub](https://github.com/gerbv/gerbv/commit/

[2021-09-14 11:09] efa commented on #19
I saw your comment for #20, about uintptr_t used by  kitanokitsune to change to size_t, I will propose a new PR with new type for the cast.
About #21 as now seems CI passed, so can be merged.

[2021-09-14 12:14] efa commented on #19
'size_t' has the same size of 'uintptr_t' used by @kitanokitsune on all 32 and 64-bit systems I know, and it is still unsigned, but it is certainly better for a size like adj=sizeof()

[2021-09-14 12:15] efa commented on #19
I re-retested the PR20 also on a Linux 64, and still can open gvp files.

[2021-09-16 09:27] efa commented on #19
do not forget PR https://github.com/gerbv/gerbv/pull/21

[2021-09-16 09:58] ooxi commented on #19
@efa thank you very much for the preparation! I reintegrated both your commits :-) it would be great if you could verify whether or not the issue is now fixed on Windows.

I have verified using valgrind that no more invalid memory access occurs when opening a project

[2021-09-16 14:26] efa commented on #19
Just built for Win32 and Win64, both work as expected opening the 1st and next .gvp files.

I dot understand why did you do not merged the PR https://github.com/gerbv/gerbv/pull/21, but created a new patch on your repo (that apparently was different than this), and committed that.

In particular the file on your fork require to patch both:
src/callbacks.c
src/gerb_file.c

While the files on
https:

[2021-09-20 08:53] ooxi commented on #19
Thank you very much for checking, that everything works now @efa!

Of cause I initially planned to just merge your PRs, however there were merge conflicts between them and I did not know how to clean up commits inside the GitHub GUI (e.g. 66079d92df2ab59ae6f95fae453088020a87fa04 where the commit message seems to be misleading and it uses `unsigned long` instead of `size_t`).

I hope you don't thin

[2021-09-20 10:50] efa commented on #19
thats OK, just curios.

I tryed to compile the last sources on Linux, and it work like before, and Valgrind is happy

[2021-09-20 10:52] efa commented on #19
Now Gerbv is stable on Windows too.
Anyway I think we should think to integrate other patches from Sourceforge to enhance the Windows support, I would keep this Issue open

[2021-09-20 12:42] ooxi commented on #19
If you could help with this, that would be great

[2021-09-23 15:50] ooxi opened #26 "Unify header include guards"
libgerbv currently uses multiple different styles of include guards:

* Invalid: Include guards like `__COMMON_H__` which collide with reserved identifiers (7.1.3)
* Name-Clash: Short include guard defines like `CSV_H` which might collide with other projects, since they don't use a project prefix
* Missing: No include guard present, which might lead to redefinitions
* Prefixed: Include guards like

[2021-09-23 15:51] ooxi commented on #26
@efa / @eyal0 / @spe-ciellt: While this is borderline bike shedding, I would love to hear your input since I'm hesitant to perform style changes without community support.

[2021-09-23 16:06] eyal0 commented on #26
I usually use pragma once because it's easy and at some point we have to ditch the past. But yeah, there's always that one programmer on GCC 2.0 or something that will yell. Whatever you prefer. I'd go with pragma once and switch to something else only if someone complains in the future.

[2021-09-23 16:12] ooxi commented on #26
If nobody disagrees I will go ahead with your suggestion @eyal0

[2021-09-23 17:24] spe-ciellt commented on #26
Both `static_assert()` and `#pragma once` is C++ constructs. I have nothing against C++, I would love to use C++ in gerbv. But just as an information. Now I noticed that they are somewhat available in C as well:
- https://en.cppreference.com/w/c/preprocessor/impl
- https://en.cppreference.com/w/c/error/static_assert

[2021-09-23 19:47] efa commented on #26
I'm in favour of C standard suggestion:
[code]

[2021-09-23 20:32] efa commented on #19
As now the make install while work on Linux/Unix, on MinGW/MSYS/Windows is terribly incomplete, as need to package the GTK and many other libs too for gerbv to run on Windows.

I saw in the sources there is a 'win32' directory, with build/package instructions inside, but to me seems very old instructions. Someone know what is the procedure to generate a self contained 'current' Win package?

If no

[2021-09-23 20:33] eyal0 commented on #26
gcc has pragma once since 2003.  https://gcc.gnu.org/gcc-3.4/changes.html

clang has had it for 14 years: https://github.com/llvm-mirror/clang/blame/aa231e4be75ac4759c236b755c57876f76e3cf05/lib/Lex/Pragma.cpp#L394

Maybe we'll use pragma once and it will be the last straw, getting some user out there on a 20-year-old compiler to finally upgrade.  We're doing the world a favor.  :-)

[2021-09-23 20:36] efa commented on #26
I saw in the documentation is writted that a supported platform is:
Solaris (5.7 and 5.8)
are we sure che Sun compiler support pragma?

[2021-09-24 09:21] spe-ciellt commented on #19
When I ran the project I had a third party person doing the packaging of Windows releases. I think he used an all Linux toolchain. I don't think there has been any Windows releases since then (actually no release at all, but that is another story).
From my perspective you can nuke all old Windows building stuff and start fresh with the latest and greatest. If you already have a functioning system

[2021-09-24 16:29] efa commented on #19
I regularly yearly release a gerbv Win version for my company. As now for gerbv I use MinGW/MSYS2 on a real Win10 64 bit, but for other projects and my git repo I also used MXE and OSXcross to generate for Win and macOS on my Debian.
Crosscompiling work well but require lot of space on HDD as you need to have many libs version:
linux32, linux64, win32, win64, macOS ... tens of gigabytes. Having a

[2021-09-24 16:37] efa commented on #19
BTW I'm not a software developer but an hardware engineer. As now my work consist of designing CPU motherboard and image processing card for space application, so I need to know something about software and compilation, at least to low level test my boards.

[2021-09-24 16:51] efa commented on #19
I'm curious what packages exist for Fedora. Did they supply Windows libraries as DLL to install on Linux as RPM?
Nothing similar exist for Debian, so while I can cross-compile with mingw64-configure, the generated binary miss most of deps and do not start (in Wine or real Win). Did you statically generated GTK to link all in a single exe? I tryed many times that, but never success.

[2021-09-30 13:34] miltonneal54 opened #27 "No error check for invalid arcs in single quadrant"
File: Gerber.c
Method: calc_cirseg_sq()
This method does not check for invalid arcs.
As stated in the RS274X specification:
Single quadrant circular interpolation plots an arc within one quadrant (90°).
Single quadrant arcs must fit entirely within the quadrant in which they begin. A
separate data block is required for each quadrant. A minimum of four data blocks
is required to plot a circle.
This

[2021-09-30 16:54] ooxi commented on #26
| User | Opinion |
| --- | --- |
| @efa | Pro `#ifndef` |
| @eyal0 | Pro `#pragma` |
| @ooxi | Pro `#ifndef` |
| @spe-ciellt | Indifferent / Slight reservations against `#pragma` |

I therefore suggest going ahead with using `#ifndef`. Since we don't have too many headers, the maintenance burden will be more or less zero.

[2021-09-30 16:57] ooxi commented on #19
@efa we already have cross compilation [working on CI](https://github.com/gerbv/gerbv/blob/main/.github/workflows/ci.yaml#L44), it uses [mingw64-configure](https://github.com/gerbv/gerbv/blob/main/.mc/windows:amd64/opt/configure.sh#L5) :-)

Unfortunately I have not yet succeeded in including dxlib.

[2021-09-30 16:59] ooxi commented on #27
Thank you very much for catching this! It would be great if we could work together on fixing this issue. Would you like to propose a patch?

[2021-09-30 17:42] efa commented on #26
I do not see a PR for this, it is not integrated yet. You should keep open this till PR closure

[2021-10-01 04:27] eyal0 commented on #27
Arcs are hard because they are over specified. An arc is always a part of a circle. A circle can be defined by a center point and a radius. And the arc is described by a start angle and end angle. So that's a total of 5 numbers: centerx centery radius angle0 angle1.

Gcode uses startx, starty endx endy i j. Six numbers. It's over specified. So it's possible to make illegal arcs.

What to do about

[2021-10-01 07:25] efa commented on #26
any volunteer? If not I propose myself, it is easy, should I have time in the week end

[2021-10-01 16:28] ooxi commented on #27
That sounds like a quick win! @miltonneal54 would you be willing to help us out with such a PR?

[2021-10-01 16:29] ooxi commented on #26
@efa I would love if you could help me out with this PR, since I cannot get onto this before next week :-)

[2021-10-03 19:24] efa commented on #26
done in https://github.com/gerbv/gerbv/pull/29

[2021-10-04 08:10] miltonneal54 commented on #27
My interest in the Gerbv project is mostly in the libgerbv library which I'm "porting" to a .Net C# library. During some testing on my project is where I came across this issue of malformed sq arcs.
 I agree with @eyal0  and @ooxi  resolution and once we come up with a good percentage margin should not be difficult to implement. The online Ucamco Gerber Viewer seems to treat "arc deviation" this w

[2021-10-04 12:34] efa commented on #26
unfortunately the check do not passed. Looking in the log I saw two tests failed, one for different output and the other for a segmentation fault. I tryed to run the checks manually and fail.
So I will re-clone the original repo, and .h file by .h file, I will try wich one generate the trouble. This is not a fast task, as the .h files are 30 files

[2021-10-04 20:47] efa commented on #26
without `opdefines.h` modified I have no segmentation fault

[2021-10-04 21:02] efa commented on #26
about the other test that fail for different output, I got a FAIL also with current (umodified) git source:

[code]

running:
gerbv-2021-10-04github/test$ mismatch/example_pick_and_place_LED/animate.sh

I cannot find visual differences, but if it fail, the output is not bit-exact (also with current sources). I do not know how can pass CI with current sources

[2021-10-04 21:04] efa commented on #26
will do a new PR without patching `opdefines.h`, than will debug what happen with gdb

[2021-10-04 23:27] efa commented on #26
finally CI passed

[2021-10-22 14:29] CiscoTalos opened #30 "TALOS Security Advisory for Gerbv (TALOS-2021-1402)"
Hello,
The Cisco Talos team found a security vulnerability affecting Gerbv products. As this is a sensitive security issue, please advise if you can mark the issue private in Github before we include the details of the report.

For further information about the Cisco Vendor Vulnerability Reporting and Disclosure Policy please refer to this document which also links to our public PGP key. https://t

[2021-10-26 17:09] eyal0 opened #31 "memory lost error from g_get_current_dir"
Memory is lost due to calling a glib function that returns the current directory but not freeing that memory later.

To cause the error, run valgrind on gerbv like this:

[code]

It will exit with code 127 and this is part of the output:

[code]

[2021-10-26 17:12] eyal0 opened #33 "Add valgrind to CI"
Adding valgrind to the CI run will help detect invalid memory operations.  It might also be useful for catching errors like in #30 .

Valgrind should be downloaded and built as part of CI.  We can use caching to save time on the building.

[2021-10-27 03:25] #31 closed, assigned to eyal0

[2021-10-27 07:30] #33 closed, assigned to eyal0

[2021-10-29 11:51] ooxi opened #36 "Proposal to release main as 2.8.0"
In my opinion we have plenty of benefits in main over 2.7.x to justify a release of 2.8.0. Delaying a release will only increase the time our users have to wait before distributions pick up those changes.

The reason why I'm arguing for 2.8.0 instead of 2.7.2 is to signify the change of development from SourceForge to GitHub.

I will prepare a release but not distribute it before I have heard your

[2021-10-29 17:47] ooxi opened #37 "Update information in help dialog"
As pointed out by @eyal0 the current help dialog does not reflect up to date information about the gerbv project

![139459593-eb990ab5-7bd6-4ef4-b589-f50138b6c7a5](https://user-images.githubusercontent.com/2611835/139479793-2cc3641d-3440-4cb7-9e21-7c865dc20180.png)

[2021-10-29 17:49] ooxi opened #38 "Update README to include all applied patches"
In order to show our users what differentiates this fork from SourceForge, we already started to document [which patches are applies](https://github.com/gerbv/gerbv#applied-patches-from-sourceforge).

This documentation should be updated before releasing 2.8.x

[2021-10-29 17:51] ooxi opened #39 "Set version to 2.8.0 and update NEWS"
The commit to be tagged as 2.8.0 should [set the version in `configure.ac`](https://github.com/gerbv/gerbv/blob/main/configure.ac#L25) and [update `NEWS`](https://github.com/gerbv/gerbv/blob/main/NEWS).

See 96e82fe9c1f235e2b8eb9422ab4659c188d96b75

[2021-10-29 17:52] ooxi opened #40 "Publish windows binary of 2.8.0"
After 2.8.0 has been released, a manually verified windows binary should be published on the GitHub release page and referenced on [gerbv.github.io](https://gerbv.github.io/).

Moreover the `README.md` should contain a link to the downloads.

[2021-10-29 17:54] #36 closed, assigned to nobody

[2021-10-29 18:48] ooxi commented on #38
To my knowledge, all applied patches are now included in the README.md

[2021-10-29 18:48] #38 closed

[2021-10-31 09:27] ooxi commented on #37
Fixed in #42

[2021-10-31 09:27] #37 closed

[2021-10-31 09:40] spe-ciellt commented on #39
I would suggest sending out an email to the gerbv-.devel mailing list to "report" the progress and urge people to send in their patches and bug fixes.

[2021-11-01 18:52] eyal0 opened #45 "Remove all compile-time warnings"
There are a few.  To see them, run:

[code]

Then go into each `Makefile` and modify the compilation so that all warnings are treated as errors.  You can search the Makefile for `-O` and add `-Werror` on to the line.  Then run `make`.  The compile will fail.

Here are two errors:

[code]

[code]

[2021-11-01 18:53] eyal0 opened #46 "Remove deprecated gdk_pixbuf_new_from_inline"
This is one of the warnings when compiling.

This issue is a subtask of #45

[code]

[2021-11-01 18:59] eyal0 commented on #46
A GDK pixbuf is a an internal format for GDK to store an image.  It's a little bit like an XPM file.  There are four of them in the icons.h file.  I did not find the original images but I will look for them.

If we can find the original XPM, we can convert the pixbuf into XPM data, the loading of which is not deprecated.

Alternatively, we can convert the images from pixbuf into xpm but then we'd

[2021-11-01 19:00] eyal0 commented on #46
Looks like they were added in 82579dfd66950e892fc1a1325714b4c91eac3d16 but we don't have the original drawings in the source code, which is a bummer.

[2021-11-01 19:03] eyal0 commented on #46
https://github.com/krh/gtk/blob/master/gdk-pixbuf/gdk-pixdata.h#L53-L66

This comment seems to explain the format of the data.  Maybe we can just use this function instead and maintain the same data:

https://developer.gimp.org/api/2.0/gdk-pixbuf/gdk-pixbuf-creating.html#gdk-pixbuf-new-from-data

According to this file `/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-core.h`, the function is not

[2021-11-01 19:23] eyal0 commented on #46
from data seems to be working okay.  For testing, I did this:

[code]

Here's what gerbv looks like in the header bar now:

![image](https://user-images.githubusercontent.com/109809/139728712-13ed7482-1f6f-4258-9c33-a24d1cca048f.png)

Looks good.  Same as the original.  Just to see that my changed have made a difference, here's what happens if I don't `+24`:

![image](https://user-images.githubuse

[2021-11-01 20:28] eyal0 commented on #46
Here's a kludge to print convert the run-length encoded data to not rle.  I think that it works:

[code]

[2021-11-01 20:35] eyal0 commented on #46
![image](https://user-images.githubusercontent.com/109809/139738373-ca6e151b-3dcb-416b-ad4e-3552b8013e45.png)

New above, old below.  Looks pretty good to me.

[2021-11-01 21:26] eyal0 opened #49 "Replace useless strncat with strcpy"
We already know the length in https://github.com/gerbv/gerbv/blob/b5f1eacd798f327ab319af939f89031db4b7c10a/src/gerb_file.c#L323 so just strcpy directly.

[2021-11-01 21:27] eyal0 commented on #49
This ix for #45

[2021-11-02 09:56] #46 closed

[2021-11-02 09:56] ooxi commented on #46
This is great work!

[2021-11-02 10:30] ooxi commented on #45
Getting rid of all those warnings will be a major step forward in source code hygiene :+1:

[2021-11-02 15:13] eyal0 commented on #49
g_build_filename is better.

[2021-11-02 15:37] eyal0 commented on #46
Thanks!  This was kind of a tricky one!  I had to dig into gdk some.  I hope that they don't deprecate the functions that I used in the end.

[2021-11-02 16:37] #49 closed

[2021-11-02 16:55] ooxi commented on #46
That would be really unfortunate :D but it will at least buy us a couple of years, I hope

[2021-11-02 17:02] eyal0 opened #54 "Include system headers with isystem"
Yup, but those errors aren't in gerbv, they are in glib itself!  glib is calling its own deprecated functions!

It would be too much for us to fix glib but we can teach the compiler to ignore errors inside of included files.  That is, if gerbv code causes the warning, we want the error, but if gerbv includes glib and glib causes the warning, we want to ignore it.

The trick for this is to make sur

[2021-11-03 16:00] CiscoTalos opened #56 "Gerbv RS-274X format aperture macro variables out-of-bounds write vulnerability (TALOS-2021-1404)"
TALOS-2021-1404
CVE-2021-40393

Gerbv RS-274X format aperture macro variables out-of-bounds write vulnerability

### Summary

An out-of-bounds write vulnerability exists in the RS-274X aperture macro variables handling functionality of Gerbv 2.7.0 and dev (commit b5f1eacd). A specially-crafted gerber file can lead to code execution. An attacker can provide a malicious file to trigger this vulnerab

[2021-11-03 16:02] CiscoTalos commented on #56
We can email the poc files once you acknowledge since they are unable to be attached in this issue

[2021-11-03 16:05] CiscoTalos opened #57 "Gerbv RS-274X aperture macro outline primitive integer overflow vulnerability (TALOS-2021-1405)"
TALOS-2021-1405
CVE-2021-40394

Gerbv RS-274X aperture macro outline primitive integer overflow vulnerability

### Summary

An integer overflow vulnerability exists in the RS-274X aperture macro outline primitive functionality of Gerbv 2.7.0 and dev (commit b5f1eacd). A specially-crafted gerber file can lead to code execution. An attacker can provide a malicious file to trigger this vulnerability.

[2021-11-03 17:40] eyal0 commented on #56
@CiscoTalos Looks like you are able to run gerbv with ASAN.  Can you send what changes you made to the the build so that it would run with ASAN?  I would like to do that, too.

[2021-11-03 19:54] CiscoTalos commented on #56
No changes to sources are needed, we compiled using `./configure CFLAGS="-fsanitize=address" --disable-shared --disable-update-desktop-database` on Ubuntu 18.04 32 bit.

[2021-11-03 21:11] CiscoTalos commented on #30
You can find the CVE in the advisory, this one is assigned CVE-2021-40391. You can publish our advisory on the mailing lists. We will publish our advisories at [https://talosintelligence.com/vulnerability_reports](https://talosintelligence.com/vulnerability_reports).

We're however a little confused about what the official version of gerbv is. Since you and the version on sourceforge both use the

[2021-11-04 08:07] #54 closed

[2021-11-04 08:13] ooxi commented on #30
gerbv's history is a bit convoluted. Originally created by Stefan Petersen (@spe-ciellt) the software was then maintained on SourceForge and (gEDA project](http://gerbv.geda-project.org/). However the maintainers after Stefan became unresponsive which is why patches started piling up on SourceForge.

Since the software is still very useful, I created this GitHub organization in August and [invited

[2021-11-04 08:50] spe-ciellt commented on #30
I also responded on the ticket on Sourceforge to refer to this place: https://sourceforge.net/p/gerbv/bugs/259/

[2021-11-04 09:56] ooxi commented on #57
Again, thank you very much for this detailed report! We will take some time to analyze the issue and propose a fix.

[2021-11-04 10:16] ooxi commented on #39
I have published [pre-release 2.8.0-rc.1](https://github.com/gerbv/gerbv/releases/tag/gerbv-2-8-0-RC-1). If anybody has suggestions, especially with regards to the NEWS section, please let me know.

My plan is to publish 2.8.0 this weekend and inform the main distributions.

[2021-11-04 10:28] ooxi commented on #57
Signed integer operations is a mine field. While this instance can be fixed quite easily, we should invest in a global solution like utilizing a library which either traps or clamps overflows.

[2021-11-04 13:30] CiscoTalos commented on #30
Thank you for the clarification. We will prepare disclosure on our end.

[2021-11-04 15:32] eyal0 opened #60 "Remove all clang compile-time warnings"
Currently, CI only builds using gcc.  If we build using clang, -Werror reports other warnings.  We should fix those, too.

We can either have a single CI that will build, make clean, and then build again with clang.  Alternatively, we can have the CI launch two different jobs and do it separately.  This is a little more complex to write but it would run faster, because it would be in parallel, and

[2021-11-04 15:33] eyal0 commented on #60
#45 should be completed first.

[2021-11-04 16:57] ooxi commented on #45
@eyal0 all GCC compile time warnings are fixed with d7f42a9afa62b3b743a4cb35050fa74c2a17c412. How about renaming this ticket to _Remove all compile-time warnings in GCC_ and closing it, since Clang warnings will be tracked in issue #60?

[2021-11-04 17:01] ooxi commented on #60
If we find a mechanism to split the build into multiple jobs but do deployment only if all steps succeed, then I would prefer that solution. We could then also push the different distribution builds into separate jobs to speed up the build even further.

[2021-11-04 17:17] ooxi commented on #57
I proposed a possible hotfix for this issue in pull request #61

[2021-11-04 18:45] CiscoTalos commented on #57
Here is the poc. Sorry for the delay, we'll attach pocs to the other bugs as well.
[TALOS-2021-1405.poc.zip](https://github.com/gerbv/gerbv/files/7477448/TALOS-2021-1405.poc.zip)

[2021-11-04 18:46] CiscoTalos commented on #56
[TALOS-2021-1404.poc.zip](https://github.com/gerbv/gerbv/files/7477457/TALOS-2021-1404.poc.zip)

[2021-11-04 18:46] CiscoTalos commented on #30
[TALOS-2021-1402.poc.zip](https://github.com/gerbv/gerbv/files/7477463/TALOS-2021-1402.poc.zip)

[2021-11-05 01:12] eyal0 commented on #60
So let's see how we'd like it to work.

First, we want to build and test.  Each build+test combo would be in a unique job and the different jobs might be, like, unix_gcc, unix_clang, macos_gcc, windows_gcc, etc.  For now we can just have unix gcc and add more as we go.

Then, only if all the previous ones pass, then what?  Do we do all the npx stuff in a single job?  Or does each job do its own np

[2021-11-07 09:49] tijuca opened #63 "Please a more common way of tagging versions"
Thanks for working further on gerbv!

I'd like to request a wish for further releases.
Please use a common kind of tagging and versioning of release tarballs.

Currently (in contrary to the SF releases) the tagged versions are named `gerbv-2-8-0-RC-1` or `gerbv-2-7-1-RELEASE`. That makes it unnecessary hard to adjust the watch logic from an effort perspective within Debian which end in manual vers

[2021-11-08 10:59] ferdymercury opened #64 "New command line arguments"
It would be really nice to have the ability to control via CLI the following items when starting the program:
- Orientation of a given layer (Modify Orientation)
- Drawing mode (Fast, XOR, ...)

This is needed for: https://github.com/dennevi/GrbDiff/issues/1

[2021-11-08 12:36] ooxi commented on #63
That is a great suggestion, thank you! To make sure I understand you correctly, you would prefer

* `v2.8.0-rc.1`
* `v2.7.1`
* `v2.7.0`

[2021-11-08 12:38] ooxi commented on #64
Thank you for your suggestion! Modifying the default drawing mode should be quite easy using command line options. With regards to the orientation of given layers, wouldn't it be better to do this via gerbv project files?

[2021-11-08 14:09] ferdymercury opened #65 "save project does not keep orientation"
When saving a project, closing and reopening, the orientation set on a layer via Right click, Modify Orientation, is lost.

I am using gerbv 2.6.1 (official Ubuntu 18 package).

[2021-11-08 15:27] ooxi commented on #65
Thank you for reporting this! While 2.6.1 is quite old and no longer supported, I'm fairly certain this behaviour is still present. If I remember correctly, I was bit by it, too.

[2021-11-08 15:33] ferdymercury commented on #65
Thanks to you for reviving gerbv ;)

Yes, I am thinking of compiling by source to get the latest.

[2021-11-08 15:40] ferdymercury opened #66 "migrate issues from sourceforge"
It might be useful to migrate these 116 issues into GitHub:

https://sourceforge.net/p/gerbv/bugs/
https://sourceforge.net/p/gerbv/feature-requests/

using e.g.:
https://github.com/itamarc/gosf2github

and submit a bug report and feature request on SF informing users about this maintained fork.

[2021-11-08 16:34] ooxi commented on #66
Thank you for your suggestion @ferdymercury! I already considered doing this, however decided against doing so because of two reasons:

1. Our capacity is very limited. I therefore prefer focusing on issues which people are currently experiencing
2. It's much easier to triangulate an issue or even enable users to create PRs, if you work with them. Thus migrating issues created years ago on a diffe

[2021-11-08 16:34] #66 closed

[2021-11-08 16:44] ooxi commented on #63
If nobody objects, I will go ahead and create the following tags:

* [`v2.8.0-rc.1`](https://github.com/gerbv/gerbv/commit/41574dc1e8b0b36675b0192ee412d632ab78d0b7)
* [`v2.7.1`](https://github.com/gerbv/gerbv/commit/96e82fe9c1f235e2b8eb9422ab4659c188d96b75)
* [`v2.7.0`](https://github.com/gerbv/gerbv/commit/3c70dc88260086e303ff8722dc9e6aec73e3b7e2)
* [`v2.6.2`](https://github.com/gerbv/gerbv/commi

[2021-11-08 17:01] tijuca commented on #63
@ooxi

I'm fine with tagging strings, except for the RC, there is no need to include a point between the characters `rc` and the number of the release candidate, so I'd do simply `v2.7.8-rc1` and so on. Even `v2.7.8rc1` would be fine, the watch integration is detecting both as release candidate and we can adjust the version string for packaging.

Thank you for rethinking the tagging! Makes my life

[2021-11-08 17:33] ooxi commented on #63
Thank you for the feedback @tijuca! We strive to make maintainer's life easier since they remove a lot of burden from us, too :-)

With regards to RC, I don't think we will change this. We discussed in [PR#58](https://github.com/gerbv/gerbv/pull/58#issuecomment-960596073) to use the syntax popularized by [semver](https://semver.org/spec/v2.0.0-rc.2.html).

Nevertheless, I hope this does not impact

[2021-11-08 18:19] tijuca commented on #63
It's up to the project maintainers to make decisions for their project, so you are free to do what ever you like.

And yes, we are mostly interested in the main and final releases. That not mean we will not package RC versions. This depends on how intrusive a new release might be, so sometimes it's helpful to package also a RC.

[2021-11-10 17:52] ooxi commented on #63
@tijuca in addition to the commits lined out above, I have also found [2.6.2](https://github.com/gerbv/gerbv/tree/v2.6.2).

Hope this helps. Feel free to reopen this issue if you have additional input!

[2021-11-10 17:52] #63 closed

[2021-11-10 17:56] ooxi commented on #39
[Release 2.8.0](https://github.com/gerbv/gerbv/releases/tag/v2.8.0) published.

[2021-11-10 17:56] #39 closed

[2021-11-10 18:40] ooxi commented on #40
Implemented in pull request #67

[2021-11-10 18:40] #40 closed

[2021-11-10 18:45] ooxi commented on #30
@CiscoTalos we now published [v2.7.1](https://github.com/gerbv/gerbv/releases/tag/v2.7.1) as well as [v2.8.0](https://github.com/gerbv/gerbv/releases/tag/v2.8.0), both carrying the patch fixing this issue.

Therefore I close this issue. Feel free to reopen if the need arises and thank you again!

Btw. it would be great if you could link to those releases in your advisory in order to let users know

[2021-11-10 18:45] #30 closed

[2021-11-15 07:00] tijuca commented on #65
Hi, within Debian we have also a bug report about not saved project settings, might be the same as already reported from @ferdymercury

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=727692

[2021-11-18 09:20] Salamandar opened #71 "Port to gtk3/gtk4"
Hi,
Are there any plans to port this project to a newer version of the GTK library ?
Thanks !

[2021-11-19 12:04] ooxi commented on #71
Not at the current stage, since our resources are quite limited. Moreover I personally am not very knowledgeable with regards to GTK programming.

But we certainly do not oppose moving to a newer GTK version!

[2021-11-19 12:32] ooxi opened #72 "Verify CVE-2021-40394 patch"
Pull request #61 tries to fix CVE-2021-40394 reported by the Cisco Talos Team in issue #57. This fix should be verified by CI and an appropriate unit test.

[2021-11-19 12:39] ooxi commented on #26
Oh man I totally missed the progress on this PR, sorry about that :-(

Will review and merge in a bit!

[2021-11-19 12:41] ooxi commented on #27
@miltonneal54 I'm closing this issue since there are no actionable items for us. Feel free to create a pull request whenever you are ready :-)

[2021-11-19 12:41] #27 closed

[2021-11-19 13:57] Salamandar commented on #71
OK :)

[2021-11-19 18:17] ooxi opened #77 "Use images rendered by Gerber Viewer as unit test reference"
We are currently using renderings by gerbv to catch regressions. We should consider comparing renderings to the [Gerber Viewer](https://gerber-viewer.ucamco.com/) provided by ucamco

[2021-11-19 18:32] ooxi commented on #71
I'm reopening this issue since [GTK2 has reached EOL](https://blog.gtk.org/2020/12/16/gtk-4-0/) with GTK devs and will sooner or later be EOLed by linux distributions.

[2021-11-22 23:33] CiscoTalos opened #79 "Security advisory TALOS-2021-1413"
TALOS-2021-1413
CVE-2021-40400

Gerbv RS-274X aperture macro outline primitive out-of-bounds read vulnerability

### Summary

An out-of-bounds read vulnerability exists in the RS-274X aperture macro outline primitive functionality of Gerbv 2.7.0 and dev (commit b5f1eacd) and the forked version of Gerbv (commit d7f42a9a). A specially-crafted gerber file can lead to information disclosure. An attack

[2021-11-22 23:33] CiscoTalos commented on #79
poc: [aperture_macro_parameters_oobr.zip](https://github.com/gerbv/gerbv/files/7584971/aperture_macro_parameters_oobr.zip)

[2021-11-22 23:35] CiscoTalos opened #80 "Security advisory TALOS-2021-1416"
TALOS-2021-1416
CVE-2021-40402

Gerbv RS-274X aperture macro multiple outline primitives out-of-bounds read vulnerability

### Summary

An out-of-bounds read vulnerability exists in the RS-274X aperture macro multiple outline primitives functionality of Gerbv 2.7.0 and dev (commit b5f1eacd), and Gerbv forked 2.7.1 and 2.8.0. A specially-crafted gerber file can lead to information disclosure. An at

[2021-11-22 23:37] CiscoTalos commented on #80
poc: [draw_amacro_multiple_outline_oobr.zip](https://github.com/gerbv/gerbv/files/7584986/draw_amacro_multiple_outline_oobr.zip)

[2021-11-24 13:45] CiscoTalos opened #81 "Secrurity Advisory (TALOS-2021-1415)"
Gerbv RS-274X aperture definition tokenization use-after-free vulnerability

### Summary

A use-after-free vulnerability exists in the RS-274X aperture definition tokenization functionality of Gerbv 2.7.0 and dev (commit b5f1eacd) and Gerbv forked 2.7.1. A specially-crafted gerber file can lead to code execution. An attacker can provide a malicious file to trigger this vulnerability.
### Tested Ve

[2021-11-24 14:21] CiscoTalos commented on #81
[TALOS-2021-1415.zip](https://github.com/gerbv/gerbv/files/7596368/TALOS-2021-1415.zip)

[2021-11-24 14:26] CiscoTalos opened #82 "Security Advisory (TALOS-2021-1417)"
TALOS-2021-1417
CVE-2021-40403

Gerbv pick-and-place rotation parsing use of uninitialized variable vulnerability

### Summary

An information disclosure vulnerability exists in the pick-and-place rotation parsing functionality of Gerbv 2.7.0 and dev (commit b5f1eacd), and Gerbv forked 2.8.0. A specially-crafted pick-and-place file can exploit the missing initialization of a structure to leak memo

[2021-11-24 14:27] CiscoTalos commented on #82
[TALOS-2021-1417.zip](https://github.com/gerbv/gerbv/files/7596403/TALOS-2021-1417.zip)

[2021-11-24 18:00] ooxi commented on #57
Fixed by pull request #61, released as [v2.8.1](https://github.com/gerbv/gerbv/releases/tag/v2.8.1) and backported to [v2.7.2](https://github.com/gerbv/gerbv/releases/tag/v2.7.2).

@CiscoTalos thank you very much for your report! Feel free to reopen this issue if you have any additional input. Please also provide an information when you have publicly disclosed this issue so we can update our links

[2021-11-24 18:00] #57 closed

[2021-11-26 15:18] Rix commented on #65
I've tried the latest source code, but it seems that bug does not exists in the latest version. I was able to reload modified layer 'as modified' from the saved project file. Were you able to try on v.2.8.1 release ?

[2021-11-26 15:29] ferdymercury commented on #65
Thanks for the hint. I compiled from source today and indeed it's working well !

[2021-11-26 15:29] #65 closed

[2021-12-02 10:15] htot opened #83 "Unsupported codes in Route files"
When importing I get:
NAME-SlotHoles-NonPlated.TXT"
Unsupported G01 (linear mode) code at line 25 in file "NAME-SlotHoles-NonPlated.TXT"
Unsupported M16 (retract with clamping) code found at line 26 in file "NAME-SlotHoles-NonPlated.TXT"
Unsupported G00 (rout mode) code at line 27 in file "NAME-SlotHoles-NonPlated.TXT"
Unsupported M15 (Z-axis rout position) code found at line 28 in file "NAME-Slot

[2021-12-06 18:47] ooxi commented on #83
Could you please paste the source file?

[2021-12-06 19:03] ooxi commented on #56
Fix published in release candidate [2.8.2-rc.1](https://github.com/gerbv/gerbv/releases/tag/v2.8.2-rc.1), backported to [2.7.3-rc.1](https://github.com/gerbv/gerbv/releases/tag/v2.7.3-rc.1)

[2021-12-07 14:04] htot commented on #83
[NAME-SlotHoles-NonPlated.TXT](https://github.com/gerbv/gerbv/files/7668823/NAME-SlotHoles-NonPlated.TXT)

[2021-12-07 18:03] ooxi commented on #83
Thank you for bringing this to our attention. Currently only a [limited number for G-codes](https://github.com/gerbv/gerbv/blob/main/src/drill.c#L454) are implemented for parsing Excellon files:

* `DRILL_G_DRILL` (`G05`): drill mode
* `DRILL_G_SLOT` (`G85`): canned slot
* `DRILL_G_ABSOLUTE` (`G90`): absolute input mode
* `DRILL_G_INCREMENTAL` (`G91`): incremental input mode
* `DRILL_G_ZEROSET` (`

[2021-12-07 18:03] #83 closed

[2021-12-16 15:01] ooxi commented on #82
Thank you very much for your patience. We will try to provide a patch with one of the upcoming releases.

[2021-12-19 11:14] ooxi commented on #56
Closing this issue since a fix has been published in release [2.8.2](https://github.com/gerbv/gerbv/releases/tag/v2.8.2), backported to [2.7.3](https://github.com/gerbv/gerbv/releases/tag/v2.7.3); feel free to reopen if necessary.

Thank you very much @CiscoTalos for reporting this issue! Please ping us as soon as you publicly disclose the report so we can update the references in our documentatio

[2021-12-19 11:14] #56 closed

[2021-12-19 12:36] ooxi commented on #82
Proposed fix 387f07b163cc30cd95e9bedf53bc07e7b38cc318 in pull request #85

[2021-12-19 12:40] ooxi opened #86 "INSTALL file missing"
As mentioned above, `INSTALL` file is missing as well as `configure`. Both are generated via `autogen.sh`.

In your process to get a .tar.gz release from GitHub (README-release.txt), I suggest run `autogen.sh`, because, to me, generated files from autogen  are part of the src distribution

[code]

Name your tags as in "gerbv-2.8.1" (to be consistent with previous naming)

There is an error install

[2021-12-19 17:54] ooxi opened #87 "Provide 32 bit Windows builds"

[2021-12-19 18:37] ooxi commented on #81
Proposed fix 3bf22983dd36d50f3e769d9bca447df2b2f42eb0 in pull request #88.

Does this issue already have a CVE identifier assigned?

[2021-12-20 19:54] CiscoTalos commented on #81
CVE-2021-40401 assigned

[2021-12-20 20:17] CiscoTalos commented on #79
Any updates to this issue? Out of bounds issues (56 and 82) have proposed fixes

[2022-01-06 13:43] CiscoTalos commented on #82
The proposed fix is good. Please confirm release date and we will coordinate public disclosure on our end.

[2022-01-06 13:44] CiscoTalos commented on #81
The proposed fix is good. Do you have a release date planned?

[2022-01-17 14:19] ixhuti opened #89 "Add layer compare functionality"
It would be nice to have the ability to select two layers to compare (Old and New) where removals would be red, additions could be green, and unchanged could have the option of being black, or not shown so only changes are presented.

[2022-01-18 21:10] eyal0 commented on #89
Perhaps it would be nice if layers could be combined with different operators?  Like subtraction or XOR.  That would be generally useful and maybe solve your problem also?

[2022-01-18 22:50] CiscoTalos commented on #80
Can you confirm if/when this issue is ready for disclosure release?

[2022-01-18 22:51] CiscoTalos commented on #82
Is there a planned disclosure release date for this issue?

[2022-01-19 20:19] phatpaul commented on #87
I am using Windows 7 64bit and tried the build: gerbv_2021-12-19_8b8eb9_(Windows amd64)
It just freezes after showing the GUI.

I see the readme states only Win 10 is supported.  Any chance of supporting Win 7?
BTW, [this fork](https://github.com/kitanokitsune/gerbv_for_win) does work for me, so no rush.

[2022-01-22 20:12] neinseg opened #90 "Aperture definition pointing to non-existing aperture macro crashes gerbv"
Minimal testcase:
[code]

fish: Job 2, 'gerbv  gerbonara_test_failure...' terminated by signal SIGTRAP (Trace or breakpoint trap)

[2022-01-22 20:22] neinseg commented on #64
I recently had a similar issue with the excellon file number format options. I was able to override these options though a project file, but a command line option would have been easier. My use case was exporting a single excellon file to svg.

[2022-01-23 19:09] neinseg opened #91 "gerbv should probably complain about unterminated G04 comments."
Sample file attached. This file contains a mid-file G04 comment with the trailing '*' missing. gerbv silently parses this as a two-line G04 comment, leading to incorrect rendering. It should probably complain about the unterminated comment instead.

[code]

The four holes at Y=1.768 get rendered using the rectangular D17 aperture instead of the circular D28 aperture.

[sample_gerber.txt](https://g

[2022-01-24 19:09] eyal0 commented on #91
You could perhaps issue a warning but you should not issue an error.  The only characters that cannot be in a comment are the percent character `%` and the asterisk `*`.

So gerbv is doing the right thing here.  A warning would just be a sort of courtesy to the user.

[2022-01-24 19:10] eyal0 commented on #91
https://www.ucamco.com/files/downloads/file_en/416/the-gerber-layer-format-specification-revision-2021-02_en.pdf?1109f5f3efc7ef822119bd893d685572 section 4.1 describes comments as containing a "string".  3.4.3 describes strings.

[2022-01-27 20:04] ooxi commented on #82
Please disclose the bug as is. I am hesitant to merge this fix since it breaks a test case. But that's no reason to postpone disclosure.

[2022-01-27 20:06] ooxi commented on #89
Isn't this quite similar to the XOR operation already implemented? Maybe you can piggy back on that one :-)

[2022-01-27 20:08] ooxi commented on #90
Thank you very much for this report! There is a reasonable chance this is exploitable. There are a couple of bug reports from Cisco Talos open which address macro definitions.

We'll retest as soon as those are fixed.

[2022-01-27 20:35] ooxi commented on #81
@CiscoTalos The proposed fix has been merged into `main`. Please continue with public disclosure

[2022-01-28 14:28] CiscoTalos commented on #79
Does this issue have any updates regarding fix?

[2022-01-29 23:15] neinseg commented on #91
I totally agree that this is invalid gerber. But since that particular generator implementation was faulty, this problem exists in many gerber files floating around on github. So a clear warning would be useful, since the alternative is a silent corruption.

[2022-02-01 18:34] eyal0 commented on #91
Looks like you're not the first one to notice this problem!  https://github.com/gerbv/gerbv/blob/main/src/gerber.c#L1008

[2022-02-01 18:48] eyal0 commented on #91
Tell me, how does this look to you:

![CLI warnings](https://user-images.githubusercontent.com/109809/152031432-d0a14f6f-d413-4f70-86f6-8b07dcad2e69.png)

![GUI warnings](https://user-images.githubusercontent.com/109809/152031485-fe5e7452-c5b9-42a3-a055-1b8b1af917c1.png)

When you open a file with messages, the messages tab opens by default.

[2022-02-03 13:14] jaseg commented on #91
Looks good to me.

[2022-02-04 01:11] #91 closed

[2022-02-06 10:24] neinseg opened #93 "Unsupported commands in Zuken CR-8000 Excellon files"
Hi there,

for compatibility testing of [gerbonara](https://gitlab.com/gerbolyze/gerbonara) I have been collecting a number of sample gerber files from different ECAD packages. I noticed that gerbv produces several warnings on Excellon files generated by a recent Zuken CR-8000:

[code]

I can't share the original files for copyright reasons, but I have re-created an excellon file with the same fea

[2022-02-06 10:26] neinseg opened #94 "Excellon format autodetection with leading zeros"
The test file from #93 also confuses gerbv's Excellon format autodetection. All coordinates in the file have several leading zeros, so it should be obvious that trailing zero omission was used, yet, gerbv thinks this is a file with leading zero omission.

[2022-02-06 10:31] neinseg opened #95 "Warning when undefined apertures are used for regions only"
I have a particular (broken) Zuken CR-8000 gerber file that only contains regions. As it turns out, CR-8000 will not emit *any* aperture definitions when a file does not contain any lines or arcs, but will still try to select the undefined aperture `D10` before drawing a region.

gerbv (rightfully) complains about this with several CRITICAL warnings:
[code]

I propose changing these warnings as fo

[2022-02-06 10:40] neinseg opened #96 "Incorrect rendering for Allegro Excellon files with "comment-style" tooldefs"
gerbv does not parse the type of tool definition Allegro exports, and will render files using these tool definitions using some (incorrect) built-in defaults. Example file: [drill.zip](https://github.com/gerbv/gerbv/files/8009950/drill.zip)

Partial log:
[code]

The syntax for these tool definitions is reasonably simple to parse, see [gerbonara's parser](https://gitlab.com/gerbolyze/gerbonara/-/bl

[2022-02-06 10:44] neinseg opened #97 "gerbv doesn't parse Altium Excellon number format comments"
Here is an Excellon file that confuses gerbv's format auto-detection:
[LimeSDR-QPCIe_1v2-RoundHoles.TXT](https://github.com/gerbv/gerbv/files/8009963/LimeSDR-QPCIe_1v2-RoundHoles.TXT)

This file is generated by Altium. Altium puts the number format of an excellon file inside a comment in the header like this:
[code]

I think it would be worth it for gerbv to parse these comments and use them befor

[2022-02-17 21:51] CiscoTalos commented on #80
Please advise if there is a fix for this issue. The issue is beyond 90 days and subject to public disclosure on our end.

[2022-02-17 21:52] CiscoTalos commented on #79
Please advise if there is a fix for this issue. The issue is beyond 90 days and subject to public disclosure on our end.

[2022-02-20 15:32] ooxi commented on #80
Yes, please continue with public disclosure. Unfortunately we do not have a patch for this issue yet.

[2022-02-22 21:53] CiscoTalos commented on #79
Should this be disclosed along with #80 without a fix?

[2022-02-24 20:47] CiscoTalos commented on #79
To date, this issue is beyond 90 days and subject to public disclosure. If there are no updates to this issue, we will publish along with #80 in the first week of March

[2022-02-27 11:33] ooxi commented on #79
@CiscoTalos please publish

[2022-02-27 11:39] ooxi commented on #97
I agree with your observation. This issue was the reason I got involved in gerbv initially :-)

[2022-02-27 11:41] ooxi commented on #96
Supporting this feature, or at least warning the user if detecting this feature was used but not supported, would be great. I can offer guidance if you would like to propose a patch

[2022-02-27 11:44] ooxi commented on #72
@CiscoTalos the fix was verified manually, but we do not have a regression test in CI

[2022-03-01 13:32] ma-bx opened #98 "Additional drill holes shown for a Zuken CADSTAR gerber output"
A PCB with 3 non-plated drill holes and 3 plated drill holes was generated by Zuken Cadstar 18.0 and imported into Gerbv 2.8.3-dev~82d59a
The gerber output also shows only 3 holes for each file.

The Autodetect feature was disabled with the drill files used, they were set to metric.
Gerbv shows 5 plated and 5 non-plated drill holes.

![2022-03-01 13_58_22-gerbv_test2 pcb](https://user-images.githu

[2022-03-01 17:15] eyal0 commented on #98
gerbv is being confused by the space character in your files.

Instead of:

[code]

It should be:

[code]

I will check the spec of the Gerber language to see if:

1. The output made by Zuken Cadstar is invalid, or
2. The interpretation by gerbv is wrong.

[2022-03-01 17:49] eyal0 commented on #98
It's not clear to me from the documentation which way it should be: https://gist.githubusercontent.com/katyo/5692b935abc085b1037e/raw/32879038a55e1e7019902d8d073d6f5d6d2e45ff/excellon.md

In all the examples, there are no spaces between X and Y.  However, there is no mention about whether or not spaces are allowed.  There's also no mention of newlines.

Can the Zuken Cadstar people be contacted?

[2022-03-01 23:14] ma-bx commented on #98
Thanks for checking!

In Cadstar 18, there is a configuration file for the drill output files "Excellon.usr" where the number of spaces can be configured. Line "SPACES 1" seems to be the default. Changing it to "SPACES 0" as a workaround gets the desired results.

However, it would be great to tolerate spaces if they are not prohibited by the Gerber spec. The Reference Viewer seems to tolerate spa

[2022-03-01 23:56] ma-bx commented on #98
This one https://gerber-viewer.ucamco.com/, as mentioned on #77

[2022-03-02 02:44] eyal0 commented on #98
@ma-bx If you're a programmer, perhaps you can review my code?  It should now support whitespace.  It also supports having more than one `X` or `Y` on the line, and it will just use the last one, which is similar to what kicad is doing.  Also, you can put `X` and `Y` in any order.

What do you think?  Looks okay?

[2022-03-02 03:44] eyal0 opened #100 "Add code coverage"
I've had good experiences with coveralls.io and it was free.

Code coverage is a nice tool in CI that will tell us if new code patches are getting good line coverage.  This is nice to have, it can identify holes in testing and give more confidence in PRs.

[2022-03-02 03:56] eyal0 commented on #97
How annoying!  Oh man, why can't everyone just follow the spec please?

I'll get to work.

[2022-03-02 05:02] eyal0 commented on #97
Before #101 :

![drill file before the changes](https://user-images.githubusercontent.com/109809/156298207-804de8fa-ef5b-470b-8870-4a53b83e5714.png)

After:

![drill file after the changes](https://user-images.githubusercontent.com/109809/156298288-1e04481e-a440-4da2-8249-0d2929cd8613.png)

Where did all the holes go?  Ah, have to zoom in:

![drill file after the changes and zoomed in to show some

[2022-03-02 05:06] eyal0 commented on #100
I have opened a request with coveralls.io.  They will need permission to make comments on PRs so @ooxi might get an oauth email from coveralls.  I think that it's safe.  I use it on pcb2gocde.  You can see a sample of it here: https://coveralls.io/github/pcb2gcode/pcb2gcode?branch=master

And if you look in the PRs for that same repo, you'll see coveralls reporting on the coverage here and there.

[2022-03-02 05:22] eyal0 commented on #96
They look like this in the file:
[code]

gerbv only supports the size and none of the other stuff so we'll ignore everything except size.  It's just the part after the = sign, right?

That parser that you linked to will be useful.  This won't be a small task but it should be doable.  We will use the function `drill_parse_t_code` as a reference and build off of it, just with different parsing.  Sho

[2022-03-02 11:14] ma-bx commented on #98
@eyal0 My programming skills are rudimentary, so I am not confident to properly review the code, sorry!

[2022-03-02 19:29] eyal0 commented on #100
@ooxi If you'd like to do it yourself, you can do it here: https://coveralls.io/repos/new

[2022-03-27 19:37] ooxi commented on #100
@eyal0 I agree having code coverage tests would be good

[2022-03-28 20:14] eyal0 commented on #100
Woohoo, check it out:

![image](https://user-images.githubusercontent.com/109809/160479308-620fb73d-5f2d-4e36-afa1-ff96a8ea17cf.png)

https://coveralls.io/builds/47760502

Pretty cool, I think.  This is a good start.

[2022-03-28 20:15] #100 closed

[2022-03-28 20:16] eyal0 opened #105 "upload artifact in CI"
Hmm yeah, builds now, but for some reason I cannot download the build results on my own fork. I guess the CI job could benefit from `actions/upload-artifact`.

_Originally posted by @PetteriAimonen in https://github.com/gerbv/gerbv/issues/102#issuecomment-1079997834_

[2022-03-29 16:01] #97 closed

[2022-04-15 08:25] electroniceel opened #106 "Please bring back manual layer realignment feature"
Older versions of gerbv (<2.7.0) had a feature to manually realign layers. It was accessible by right-clicking on a layer name and then choosing "Modify orientation" in the context menu. This brought up a dialog which allowed you to shift and scale the current layer by arbitrary numbers.

You can see screenshots and a description of the feature for example here: https://docs.oshpark.com/design-too

[2022-04-15 20:50] ma-bx commented on #98
I can confirm that it is solved in the latest version. Thanks a lot!
![grafik](https://user-images.githubusercontent.com/100696316/163630715-61c524ca-9404-4302-8ae7-c33c943c0c02.png)

[2022-04-16 15:41] ooxi commented on #106
Unfortunately the screenshots on oshpark are of quite a low resolution, but they look similar to the *Edit Layer* dialog:

![gerbv edit layer](https://user-images.githubusercontent.com/2611835/163681454-1314a4ea-d6dc-4b63-b576-af8feb132f97.png)

Is this what you are looking for?

[2022-04-16 17:47] electroniceel commented on #106
You are right, this is what I was looking for. Seems I didn't look closely enough.

Sorry to bother you.

[2022-04-16 17:47] #106 closed

[2022-04-19 09:40] Dromantor opened #107 "gerbv should be able to detect when a project file is passed as argument without option --project="...""
From what I could see gerbv currently expects that each argument that is not an option is a valid gerber/drill file. The problem is that if you just configure to open .gvp with gerbv it fails to do so because your OS (I'm on Windows btw.) doesn't know about the needed --project="..." option. You currently have to manually modify the command line used to open your project file, which may or may not

[2022-04-22 16:21] ooxi commented on #107
This does make sense from a usability point of view. However, the argument parsing code is quite elaborated. I would be happy to mentor such a patch however, if you want to create a PR.

Could you post an error message regarding `init.scm`? Indeed, it is not bundled and might be a simple fix.

[2022-04-22 17:00] ooxi opened #109 "Add periodic rebuild"
In order to catch a broken build because of changing dependencies, Gerbv should be rebuild periodically e.g. using [GitHub Actions `schedule`](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule)

[2022-04-22 18:10] ooxi opened #111 "gerbv releases are missing init.scm"
As reported by @Dromantor in issue #107, the released Gerbv archives are missing `init.scm` which is required to load project files.

[2022-04-22 18:23] Dromantor commented on #107
I'll try to come up with something when I got some spare time.

And regarding the `init.scm` error: I guess you already found the relevant error message yourself :)

[2022-04-22 18:59] ooxi commented on #111
Fixed in pull request #112

[2022-04-22 18:59] #111 closed

[2022-04-22 19:47] ooxi opened #113 "Add TinyScheme copyright notice"
Gerbv bundles parts of TinyScheme

* [`init.scm`](https://github.com/gerbv/gerbv/blob/main/src/init.scm)
* [`scheme.c`](https://github.com/gerbv/gerbv/blob/main/src/scheme.c)
* [`scheme.h`](https://github.com/gerbv/gerbv/blob/main/src/scheme.h)

Despite the comment in `init.scm` all files seem to be from TinyScheme 1.35, not 1.34.

In order to honor the copyright terms, the following notice should

[2022-04-22 19:49] ooxi commented on #107
@Dromantor the `init.scm` issue #111 was resolved by pull request #112 and will be included in the next release. You can use [snapshot builds](https://gerbv.github.io/#download) until then.

[2022-04-22 19:59] ooxi commented on #100
This is great, thank you for adding Code Coverage support @eyal0!

[2022-04-22 20:01] ooxi commented on #97
Thank you very much for implementing this! I have bumped the version to `2.9.0-dev` since this is a really useful feature

[2022-05-18 14:34] ooxi commented on #81
@CiscoTalos Fix included in release [2.9.0](https://github.com/gerbv/gerbv/releases/tag/v2.9.0)

[2022-05-18 14:34] #81 closed

[2022-05-21 12:49] ooxi opened #115 "Improve information for developers"
[Information for developers](https://github.com/gerbv/gerbv#information-for-developers) should link to the API documentation as well as the example programs.

[2022-05-21 13:02] ooxi commented on #72
Automatic verification of this issue as a test case does not seem to be doable with our current resources. Feel free to reopen if anybody wants to work on this.

[2022-05-21 13:02] #72 closed

[2022-05-21 14:08] ooxi opened #119 "pick-and-place parser tries parsing comments"
The current pick-and-place parsing implementation tries parsing comments and only fails through a coordinate sanity check instead of skipping comments (rows beginning with `%`) alltogether.

See [LED.xy](https://github.com/gerbv/gerbv/blob/main/example/pick-and-place/LED.xy) example.

[2022-05-21 14:35] ooxi commented on #82
Proposed fix merged as c32c6f9c0b5d3b0ecc33de21d8532de6c2df5878 in pull request #85 and will be included in next release.

[2022-05-21 15:25] ooxi commented on #87
@phatpaul supporting Windows releases unfortunately is quite time consuming, since testing has to be done manually using a VM. I'll try Windows 7 and see if I find something obvious, but don't hold your breath ;-)

[2022-05-21 21:41] ooxi commented on #115
Fixed by @jesusdoza in pull request #120

[2022-05-21 21:41] #115 closed

[2022-05-29 15:53] ooxi commented on #82
@CiscoTalos Fix included in release [2.9.1](https://github.com/gerbv/gerbv/releases/tag/v2.9.1)

[2022-05-29 15:53] #82 closed

[2022-05-29 16:07] ooxi commented on #109
@jesusdoza would you like to tackle this one? It's a great opportunity to get more familiar with GitHub Actions, if you like :-)

[2022-05-29 18:27] ooxi commented on #79
Proposed fix in pull request #124

[2022-05-30 15:07] jesusdoza commented on #109
I think this is a little beyond my understanding right now but thank you anyway

[2022-05-30 19:59] eyal0 commented on #109
Like this:

https://github.com/pcb2gcode/pcb2gcode/blob/e51ef9e518c8a3b7a5042403d2b08d0ddbbae7b5/.github/workflows/ci.yml#L3

[2022-05-31 09:58] ooxi commented on #79
Pull request #124 merged as caa6560d5d683f827c672fd5e380f89a8ef632b6 and will be included in the upcoming release

[2022-06-04 16:39] ooxi commented on #79
@CiscoTalos Fix included in release [2.9.2](https://github.com/gerbv/gerbv/releases/tag/v2.9.2). Thanks for your support!

[2022-06-04 16:39] #79 closed

[2022-07-04 16:01] spe-ciellt opened #129 "Is the BUGS file current?"
Hello!

I found the file `BUGS` in the root directory of the repository. It apparently lists a number of bugs. Are the bugs in the list still valid?
They are also built into the program when it is built. If they are valid, should they be built into the program? Seems more  like they should be here and then point to here in the "About" in the program.

[2022-07-11 09:44] ooxi commented on #129
@spe-ciellt I agree. If anything should be built into the binary, it should be a link to the GitHub issues, or a list of GitHub issues marked as verified bug

[2022-07-12 07:39] ooxi commented on #129
I thought about it some more and came to the following assesment

1. Do not include BUGS file in gerbv: Might break distributions using this file to include notes about their fork
2. Change contents of BUGS file to simply point to this issue tracker: easiest solution, but does not correctly reflect the bugs at the time of the binary creation
3. Manually gather BUGS contents: will be out of sync ag

[2022-07-12 09:54] spe-ciellt commented on #129
Do anyone use the BUGS file for anything, like any distribution?

I would go with (1) and then update the "About..." screen to point at this repository. In my world this is where development on gerbv now happens and it would be great to point more people here. Else number (2) would suffice.

I guess 1 is more job than 2?

[2022-07-12 14:22] ooxi commented on #129
@spe-ciellt yes, (1) is more work than (2) but it's cleaner. I just don't want to step on maintainer's tows.

I will look at the main distributions packaging gerbv (Debian, Fedora, Ubuntu) to see, whether it's used somewhere.

[2022-08-25 06:56] eyal0 opened #130 "libgerbv.pc version doesn't match"
https://github.com/pcb2gcode/pcb2gcode/issues/626#issuecomment-1226755727

Could this be caused by this new gerbv? The problem starts around the same time as this repo...

[2022-08-29 15:30] eyal0 commented on #130
When I compile gerbv the usual way, a libgerbv.pc file is created:

To do it, type this:

[code]

In the output, we see the contents of a valid `libgerbv.pc` file with a valid version number in there.

I am using MX Linux version 21 on my computer.  I can download the debian install package that my computer will use and examine it like this:

[code]

In the output, I see a valid `libgerbv.pc` file

[2022-08-29 15:33] eyal0 commented on #130
The question is here: https://answers.launchpad.net/ubuntu/+source/gerbv/+question/702967

[2022-08-30 04:04] eyal0 commented on #130
Bug report: https://bugs.launchpad.net/ubuntu/+source/gerbv/+bug/1988117

[2022-09-13 18:10] stefanhusmann commented on #130
Same under Arch Linux based distros. The official package in [community] also lacks Version number in libgerbv.pc. Coincidence, that two packagers make the same mistake? I doubt.

[2022-09-14 01:15] eyal0 commented on #130
No one is responding on the bug report. Maybe contact the guy directly?

[2022-09-14 21:02] stefanhusmann commented on #130
I think the problem is that the M4 magic is trying to derive the version number using "git decribe" or so. This fails if we build from the tarball.

[2022-09-17 05:08] eyal0 commented on #130
Yes, I'm seeing this, too.  The source of the file is `./src/libgerbv.pc.in`.  I'll look into it.

[2022-09-18 17:09] #130 closed

[2022-10-24 10:35] mikhailmihalkov opened #134 "Turning the Gerber Fail"
If you rotate the file 90 degrees, you cannot save the result. When you reopen, the file returns to its original position. When you change the coordinates or rotate the file, the settings window cannot be moved and it closes the original picture

[2022-10-25 18:45] mikhailmihalkov commented on #134
I have tested on almost all versions for win since version 2.6.and does not work on linux 2.6.1 either.

[2022-10-25 18:47] mikhailmihalkov commented on #134
everything older than these versions unfortunately does not work rotation

[2022-10-25 19:36] eyal0 commented on #134
I just tested it and it works fine for me.  Maybe you could be more explicit about what you tried and what your expectation?  I will show you what I did:

1. Download a gerber file: `wget https://raw.githubusercontent.com/pcb2gcode/pcb2gcode/master/testing/gerbv_example/example_board_al_custom/example_board-F.Cu.gbr`
2. Type `gerbv example_board-F.Cu.gbr` to view that it says the text "Front".
3.

[2022-10-26 04:36] mikhailmihalkov commented on #134
Usually I turn 90 degrees and after saving and reopening, I see that the file is back to its original state when viewing

[2022-10-26 12:46] mikhailmihalkov commented on #134
Win 10  gerbv 2.9.3~ce0a78
1 Does not save the measurement settings when restarting again switches to mil instead of mm
2 Does not save view settings when restarting switches from normal to fast
3 When rotated 90 degrees and saved, does not flip the image

[2022-10-26 13:04] mikhailmihalkov commented on #134
90 Degree Rotation
![image](https://user-images.githubusercontent.com/99812383/198033037-901cedd6-2347-4574-8210-026a37b41111.png)

[2022-10-26 13:14] mikhailmihalkov commented on #134
![image](https://user-images.githubusercontent.com/99812383/198034999-f0d215ed-861b-4ceb-ad82-f3fa82104a86.png)

90 Degree Rotation Version 2.6.1

[2022-10-26 13:29] mikhailmihalkov commented on #134
I open the saved file in version 2.9.3 with a 90-degree flip in another viewer and see that the file is rotated 180 degrees instead of 90
![1](https://user-images.githubusercontent.com/99812383/198038601-9b9dd5ee-4289-4438-be3f-b3066e1a9e1f.jpg)

[2022-10-26 13:34] mikhailmihalkov commented on #134
It turns out that version 2.9.3 visually rotates 90 degrees, but when opened in another program, we see that the image is rotated 180 degrees

[2022-10-26 13:37] mikhailmihalkov commented on #134
In version 2.6.1, it visually rotates 180 when choosing 90 degrees, but if you open the file after saving in another program, we will see that the file is rotated 90 (correct)

[2022-10-26 18:32] eyal0 commented on #134
Such a strange behavior!  We would expect that if you ask for 90 degree rotation, you get a view of 90 degree rotation.  And when you save, it should save it with 90 degree rotation, too!

It's strange to me that the rotation is doubled when the value is not a multiple of 90.  Otherwise, it is not doubled.  I'll investigate a little more.  Maybe this will be a hint that will help us.

[2022-10-26 18:33] eyal0 commented on #134
I'll only investigate with 2.9.3.  There's no point in trying to fix the old version.

[2022-10-26 19:04] eyal0 commented on #134
Okay, I think that I see what is happening.

There are two ways to rotate a gerber file.
1. Take all the points in the gerber file and map them to different points.  It's the usually transform using sine and cosine that you learned in high school.  It is described here: https://danceswithcode.net/engineeringnotes/rotations_in_2d/rotations_in_2d.html .  You can run this on each point, no problem.
2

[2022-10-26 19:27] eyal0 commented on #134
`rotation` is kind of a popular word in the codebase so I did a `grep` for `mirrorAroundX`, which is less common.  Looking at the results, it seems like the one that we'd need to fix is here:

https://github.com/gerbv/gerbv/blob/8aa1e02605b01cf8650f58117cf3d0eb81d3b7b7/src/export-rs274x.c#L248-L252

We can see the conversion from degrees to radians and back, that's why 90+60 came out 159 in my fil

[2022-10-26 19:55] eyal0 commented on #134
Yup, I was right about the rounding.  Here's code that I added into that if statement:

[code]

Here's what was printed:

[code]

The file that I opened included this line in it:

[code]

And I opened it like this:

[code]

So we can see that the first number is the 90 from in the file, converted to radians.  And the second number is the rotation, which is 60 converted to radians.  I'm going to re

[2022-10-27 04:43] mikhailmihalkov commented on #134
eyal0 Unfortunately, I am not a programmer but an ordinary user) If you do not find it difficult to collect this code into a ready-made version for testing.. For my part, I am ready to test) win and linux

[2022-10-27 17:18] eyal0 commented on #134
Are you able to compile the code from the sources?  How did you run the code before?

This is the fixed code if you want to test it: https://github.com/eyal0/gerbv/tree/fix_rotation

[2022-10-27 18:06] eyal0 commented on #134
I added a test to check that it works.  We can see that the original file has an arrow that points up and to the left:

https://github.com/gerbv/gerbv/pull/135/commits/f3a2802ce92ef57df2f0a7274fd8aee09de21905#diff-3fdd1a4b5ad5e84fbd43dc5a708df752e7e2e219930284e6e44a3cc110eeb55c

In the [next revision](https://github.com/gerbv/gerbv/pull/135/commits/709fb910e58b50f0dc7c98b412ec4ea1f324e165), I [add

[2022-10-27 19:06] mikhailmihalkov commented on #134
Unfortunately, I don't know how to compile. On wine I run exe on linux deb package

[2022-10-27 19:09] mikhailmihalkov commented on #134
Maybe here? https://gerbv.github.io/#download

[2022-10-27 19:14] mikhailmihalkov commented on #134
I use gerbv to cut stencils with this script https://github.com/Jeinzi/SMTCut and I often have to turn the file gerber and remove unnecessary parts

[2022-10-27 19:26] eyal0 commented on #134
I will try to produce the program for you.  Please wait 1-2 hours for me.  Thanks.

[2022-10-27 21:14] eyal0 commented on #134
@mikhailmihalkov Can you try this file:

https://github.com/gerbv/gerbv/suites/9000795945/artifacts/414628935

You will need to unzip it and, inside of there, you should find the windows program.

[2022-10-28 04:19] mikhailmihalkov commented on #134
many thanks

[2022-10-28 10:55] ilya301444 commented on #134
@mikhailmihalkov Can you try this file:

https://github.com/gerbv/gerbv/suites/9000795945/artifacts/414628935

You will need to unzip it and, inside of there, you should find the windows program.

you could not build a program for Ubuntu. When I try to run ./gerbv, it asks for the libgerbv.so libraries. I moved the files to the /usr/lib/x86_64-linux-gnu directory and got the error error while load

[2022-10-28 15:41] ilya301444 commented on #134
Everything is installed and running

[2022-10-28 17:43] eyal0 commented on #134
It works?

[2022-10-28 18:12] mikhailmihalkov commented on #134
Yes, it works on ubuntu only to install as a program cannot be
[gerbv.zip](https://github.com/gerbv/gerbv/files/9890861/gerbv.zip)
 forgotten from one file.... How to make a deb package is not known....

[2022-10-28 18:22] eyal0 commented on #134
I also do not know how.

[2022-10-28 18:27] mikhailmihalkov commented on #134
https://launchpad.net/ubuntu/+source/gerbv/2.9.2-1

[2022-10-28 18:53] eyal0 commented on #134
It appears that it was made by Carsten Schoenert.  I do not know him.  Maybe he can help us?

I do not make the package, I don't know how.  :frowning_face:

[2022-10-28 19:46] mikhailmihalkov commented on #134
I wrote off the programmer promised to help) collect rpm package

[2022-10-28 20:59] mrx23dot opened #138 "100% cpu load on Windows 7"
Latest release from website causes 100% cpu load (via gerbv.exe) on Windows7 x64:
2022-10-01	8aa1e0

main screen loads but not reacting.
no idea why.

also it didn't open from winzip, had to use 7zip
gerbv_2022-10-01_8aa1e0_(Windows amd64).zip

size is also weird, maybe someone placed a nice crypto miner in the exe?
![2022-10-28_215148_Js](https://user-images.githubusercontent.com/4163396/19873042

[2022-10-29 02:32] eyal0 commented on #138
You're comparing 2016 to 2022! It's a large range!

[2022-10-29 08:06] ooxi commented on #138
The file size increase is due to windows packaging. We are using cross compiling in the CI and pack all available dependencies, not only the strictly necessary.

Nevertheless, having a 100% CPU hog without being usable should not be the case. Will recheck on wine.

[2022-10-29 08:26] #134 closed

[2022-10-29 08:28] ooxi commented on #134
The fix by @eyal0 will be included in the next release

[2022-10-29 09:11] ooxi commented on #138
Running the newest gerbv build in wine works fine. I don't have a Windows installation available to test right now.

Wild shot: might there be some AV shenanigans going on?

[2022-10-29 09:25] ooxi commented on #138
@mrx23dot could you run `gerbv.exe --version` in a console? You should be seeing something like

[code]

If you see this output, then it's might be something with the GTK toolkit.

[2022-10-29 09:28] ooxi opened #140 "Charset issue in gerbv --version on wine"
When running `wine gerbv.exe --version` the output contains Mojibake

[code]

This is caused by using `—` in the [`printf`](https://github.com/gerbv/gerbv/blob/main/src/main.c#L677) statement and can be fixed by using `-` instead.

[code]

[2022-10-29 12:43] mikhailmihalkov commented on #134
eyal0  With each new launch of the application on win 10, the settings of the unit of measure are not saved, the selection of the render is fast normal, etc... Is this a bug or is it intended?

[2022-10-29 15:22] eyal0 commented on #138
I have a Windows laptop but I don't know how to use it for debugging! I can try it I guess!

[2022-10-30 12:28] ooxi commented on #138
Thank you for your input @mrx23dot! I'm fairly sure now that my initial hunch towards AV was wrong, since the GUI seems to start up and then hangs.

Do you have a way to compile gerbv for Windows or run under a debugger? I would be very helpful to know where the application hangs.

[2022-11-02 18:18] ooxi commented on #138
@mrx23dot could you try getting a stacktrace in the debugger while the program hangs? Would be interesting if it changes (e.g. spinning in a loop) or blocking (e.g. in a system call).

[2022-11-02 20:52] eyal0 commented on #138
There's only one place in the code where we call `g_settings_schema_source_lookup`:

https://github.com/gerbv/gerbv/blob/10746b8ee8579a967576a4fc303f80c9b1af7f28/src/interface.c#L341-L345

`source` is the first argument to that function.  That first function is described here:

https://www.freedesktop.org/software/gstreamer-sdk/data/docs/latest/gio/gio-GSettingsSchema-GSettingsSchemaSource.html#g-

[2022-11-02 21:00] eyal0 commented on #138
We didn't really want to kill the process and then bt.  We just wanted to pause it.  I don't know much about Windows.  Maybe there is advice here: https://stackoverflow.com/questions/711086/in-gdb-on-mingw-how-do-i-make-ctrl-c-stop-the-program

[2022-11-02 21:20] eyal0 commented on #138
@mrx23dot Download the artifact at the bottom of this page: https://github.com/gerbv/gerbv/actions/runs/3381107005

I think that it'll remove the error that you saw but I don't think that it'll solve your problem of 100% CPU usage.  Let me know.

[2022-11-02 21:40] eyal0 opened #144 "(gerbv.exe:4316): GLib-GIO-CRITICAL **: 20:33:44.272: g_settings_schema_source_lookup: assertion 'source != NULL' failed"
Can't, when it goes 100% it doesnt take input on console, after I kill it it doesnt have stack.

[code]

I'm no maintainer but critical error seems, critical.

_Originally posted by @mrx23dot in https://github.com/gerbv/gerbv/issues/138#issuecomment-1301197595_

[2022-11-02 21:43] eyal0 commented on #138
Debug build will be available in the artifacts below, soon: https://github.com/gerbv/gerbv/actions/runs/3381332271/jobs/5615126478

I ran the gerbv.exe on my laptop and it works fine and does not cause 100% CPU.  :shrug:

[2022-11-02 22:00] eyal0 commented on #138
Sorry, I did that one wrong.  I'll try again.

[2022-11-02 23:53] eyal0 commented on #138
I think that I did it right now: https://github.com/gerbv/gerbv/actions/runs/3381435086/jobs/5615333934#step:17:3364

![debug and no optimizations in the build](https://user-images.githubusercontent.com/109809/199623518-1bc10f67-d4e1-4ca9-badd-decc990c33cd.png)

Download the artifact please: https://github.com/gerbv/gerbv/actions/runs/3381435086

It's at the bottom of the page.  Let me know if tha

[2022-11-03 17:56] eyal0 commented on #138
:shrug:

[2022-11-03 19:00] ooxi commented on #134
@mikhailmihalkov fix by @eyal0  for this issue has been included in release [v2.9.4](https://github.com/gerbv/gerbv/releases/tag/v2.9.4), thanks for the report!

It's best to report this as a separate issue

[2022-11-03 19:14] #144 closed

[2022-11-03 19:15] ooxi commented on #144
Will be included in the upcoming release, most likely 2.9.5

[2022-11-03 19:23] ooxi commented on #138
@mrx23dot fyi I have updated the issue's title to include *on Windows 7*

[2022-11-04 17:39] ooxi commented on #138
This might be a red herring, but maybe cairo is causing this. I'll change to GDK in a private branch. Would be great if you could retest with that binary.

[2022-11-04 17:57] ooxi opened #147 "ci Warnings"
## ci-coverage

* Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: coverallsapp/github-actionShow less
* The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. Fo

[2022-11-04 19:42] ooxi commented on #147
github-pages-deploy-actions warnings fixed by pull request #148

[2022-11-04 20:40] eyal0 commented on #147
There's a warning to be fixed in the coveralls app: https://github.com/coverallsapp/github-action/pull/117

The author of the app hasn't been active lately.  We could either just live with it or fork the repo and fix it ourselves.

[2022-11-04 23:57] eyal0 commented on #138
It's GUI, I'm sure that it's all event based?  I've never worked on that part so I don't know how to debug it.

When the CPU is at 100%, is gerbv still functional?

[2022-11-05 15:27] ooxi commented on #138
I think that would be a bit excessive, especially since it works on versions of Windows which have not reached end of life ;-)

I'll prepare a version with additional debug output.

[2022-11-05 18:45] ooxi commented on #138
@mrx23dot `main.c:1127 main` means it'll hang somewhere between [here](https://github.com/gerbv/gerbv/blob/main/src/main.c#L1112-L1113)

[code]

Could you check if we hang inside `gtk_init` or `interface_create_gui` by placing a `DBG;` between the statements?

[2022-11-07 08:53] ooxi commented on #138
@mrx23dot thank you very much! So it seems to hang somewhere inside GTK (or in one of your callbacks). Unfortunately, I don't have much experience with GTK but this should be a start.

[2022-11-09 04:31] mikhailmihalkov opened #149 "aving settings after closing the program..."
After reopening the program, the latest settings are not saved... (View units )/( rendering) All reset to mil and Fast by default

[2022-11-09 12:45] ooxi commented on #149
Thanks for the report @mikhailmihalkov! Which version of gerbv are you using on which operating system?

[2022-11-09 12:48] ooxi commented on #138
Please refrain from pointing fingers by tagging multiple past contributors in this ticket @mrx23dot :-)

Both alyoshin and martonmiklos have made huge contributions to gerbv in the past, but are currently not active in the project. While we would love to welcome them back, we want to respect their decision with regards to how much work they are willing to provide.

I am happy to help you bisecting

[2022-11-09 14:53] mikhailmihalkov commented on #149
2.9.4 win 10/64

[2022-11-09 15:11] ooxi commented on #140
Fixed by @EricJarosch in PR#150

[2022-11-09 15:11] #140 closed

[2022-11-09 15:34] ooxi commented on #138
Will do, might take until the weekend :-)

[2022-11-10 07:08] mikhailmihalkov commented on #149
oxxi There is a version for linux
https://launchpad.net/ubuntu/+source/gerbv/2.9.4-1/+build/24626945

[2022-11-10 08:47] ooxi commented on #149
It will take a bit to review this on my side

[2022-11-18 17:33] ooxi opened #152 "CI Coverage failed"
[code]

[2022-11-18 18:36] ooxi commented on #152
Resolved by PR #153

[2022-11-18 18:36] #152 closed

[2022-11-20 18:14] ooxi commented on #149
OK I can reproduce the issue. Looking into the source code, it does not seem like this feature ever existed.

@mikhailmihalkov to confirm, is this a regression report or a feature request?

[2022-11-20 20:22] mikhailmihalkov commented on #149
Эта функция работает на ubuntu но не работает на win

[2022-11-20 20:23] ooxi commented on #149
Thanks! Then I might have missed something, will look into it

[2022-11-20 20:37] mikhailmihalkov commented on #149
When installing from the official repository, deb package

[2022-11-21 17:10] ooxi commented on #149
OK this might have something to do with issue #144. My current working hypothesis is that the schema cannot be found and thus storing / restoring of setting in Windows is disabled.

[2022-11-21 17:15] mikhailmihalkov opened #154 "Gerber file discovery win 10"
If the gerbv program is assigned by default, the gerber file cannot be opened (empty window)... File opens only after starting the program (menu open) win 10\64

[2022-11-21 17:18] mikhailmihalkov commented on #149
In my understanding, the settings should be saved in the configuration file so it works on ubuntu.. After closing the program, the latest settings are saved and do not require re-entering during subsequent starts

[2022-11-21 17:20] ooxi commented on #149
@mikhailmihalkov yes, this is my understanding, too. And I suspect something going wrong while looking up the schema, thus disabling this functionality.

[2022-11-21 17:24] ooxi commented on #154
@mikhailmihalkov which file extensions are you associating with gerbv? A gerbv project file or gerber layer files themselves?

[2022-11-21 17:51] ooxi commented on #154
Similar to issue #107

[2022-11-22 04:02] mikhailmihalkov commented on #154
I assign to all types that generate cad and, when saved by the program itself, does not open gerbv in the same way.... gbr.

[2022-11-22 04:03] mikhailmihalkov commented on #154
Yes, I make an appointment to open with....

[2022-11-22 04:15] mikhailmihalkov commented on #154
A similar problem is not solved... Did not see it when opening the request)

[2022-11-27 05:29] meantaipan opened #155 "Numeric format incorrect when reading Altium 14 NC Drill file"
gerbv is misreading the numeric format in an Altium Excellon drill file.  The top of an example is here:

[code]

Tracing execution in drill.c, it is correctly parsing the ```FILE_FORMAT=2:3``` line, but the subsequent ```INCH,TZ``` line resets to trailing zero suppression with 4 decimals.  The file then reads at 1/10 of the proper scale.

I don't know if Altium is at fault, but without a detailed

[2022-11-28 00:54] eyal0 commented on #155
I worked on stuff involving the parsing:

https://github.com/gerbv/gerbv/commit/6ab3d2203fcea6b3f3216bc56253f249668c604b
https://github.com/gerbv/gerbv/commit/4f3b06c58c616dfc6b9e66111b6a6063a1a2d6f7
https://github.com/gerbv/gerbv/issues/97

Those were about Altium, too!

Let's start with the spec and see how it's *supposed* to work:

https://www.ucamco.com/files/downloads/file_en/416/the-gerber-l

[2022-11-28 01:06] eyal0 commented on #155
I don't see it in there at all!  Ah, damn, that's the gerber format this is a drill file.  Grr.  Okay, Excellon spec.

I see the behavior that you are talking about.  If I open the lines that you provided:

![image](https://user-images.githubusercontent.com/109809/204170904-2960f283-2b61-4830-b5cd-60735c3c2bb8.png)

We see that the location is 0.1965, 0.046 in inches.  The diameter of the hole see

[2022-11-28 01:36] eyal0 commented on #94
gerbv has autodetection?  I didn't even know this!

[2022-11-28 01:43] meantaipan commented on #155
Yes, hole sizes are correct, probably because the T..C.. lines give the hole size as a floating point with an explicit decimal point.  So the parsing is distinct from the positioning lines, which rely on the implicit radix point position.

Note that I tried the trick of making state->autod into a bitfield.  Initially set to 3 (bits 1,0) but if the FILE_FORMAT line is seen, then it turns off bit 0.

[2022-11-28 01:54] eyal0 commented on #155
What if we just set `state->autod` to false after we see the `;FILE_FORMAT` comment?  The handling of formats is confusing to me but it seems like it would work...  It's working in my test.

[2022-11-28 02:02] meantaipan commented on #155
That was my first thought, but I don't have the Excellon spec available (paywalled) so was not sure whether that would be a proper fix.  But if it works for you, then it is a more straightforward fix than mine.

<rant>It's a shame that we have to worry about this.  It would have been a lot easier to just insist on decimal points throughout (like milling machine or lathe G-code), and what genius th

[2022-11-28 02:11] eyal0 commented on #155
Back when Excellon was invented I guess that people thought that it would be more important to save the space in the file and remove decimal points?  Who knows?  I'll have a fix ready soon.

[2022-11-28 02:35] eyal0 commented on #155
This guide seems pretty good: https://web.archive.org/web/20071030075236/http://www.excellon.com/manuals/program.htm

[2022-11-28 03:33] meantaipan commented on #155
Just been reading that spec.  Unfortunately, it doesn't mention the "hot comments" like ```;FILE_FORMAT``` that seem to have been added by other vendors etc.  So it's still a bit confusing about what takes priority and whether order is important.

I'll give your fix a try...

[2022-11-28 05:08] meantaipan opened #157 "Enhancement request: generalize drawing."
Currently, the code basically relies on Cairo for rendering (pixmap or vector format).  I would like to be able to generate output suitable for use with OpenSceneGraph and similar 3D rendering libraries.  This would generate board views similar to what most EDA tools can do, that can be flipped around with the mouse with realistic color, thickness etc.

I am prepared to do this work, but I am aski

[2022-11-28 05:40] eyal0 commented on #157
`pcb2gcode` uses gerbv as just a parser of the file and converts the entirety of a gerber file into a ["well known text"](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry), which is a common way of representing lines and shapes and used a lot for GIS stuff (like maps).  WKT is easily converted to SVG files, they are very similar in structure.

The entrypoint for the convers

[2022-11-28 18:46] eyal0 commented on #157
I never needed to separate it into a library so I didn't do that.  But it ought to be possible.  If you did that work, I would incorporate it here, sure.

I don't know how to combine all the netlist info together with the gerber.  If there's a format for it then it probably wouldn't be too much work to modify the gerberimporter to do it.  All those boost classes that are used in the gerberimporter

[2022-11-28 18:48] eyal0 commented on #157
Also, WKT is kind of a standard so it's easy to work with.  For python, you wouldn't need to parse it yourself, just use a library I think.

https://pypi.org/project/wktplot/

[2022-11-28 19:30] meantaipan commented on #157
To be clear, I think it would be possible to add netlist (and other attribute) data to gerbv, without breaking the existing API.  As far as I know, the API does all the structure allocation so if extra stuff is tacked on it should not be a problem.

There's probably a smarter way to do this, but to incorporate 356A data which basically associates coordinates with component pin and netlist data, I

[2022-11-28 19:44] #155 closed

[2022-11-28 19:47] ooxi commented on #155
@meantaipan PR #156 will be included in release 2.9.6

Feel free to reopen this issue if it does not solve your problem.

[2022-11-28 19:48] ooxi commented on #94
@neinseg does PR #156 fix this issue for you?

[2022-11-28 19:52] eyal0 commented on #94
Don't merge it yet because I saw that some other test was affected and I can't tell if this caused a breakage elsewhere.

[2022-11-28 19:52] ooxi commented on #157
libgerbv is a great library to parse Gerber and transform it to a different format. For converting to 356A I would suggest using libgerbv API instead of substituting the Cairo/GTK renderer.

If the tool is small enough, including it into gerbv might be viable.

[2022-11-28 19:54] eyal0 commented on #94
Ah already merged. Well, it's probably okay. I think what I saw what the handling of when there are two FILE_FORMAT lines in the same file. Do we honor the first or the second? Who knows? FILE_FORMAT is not even in the spec so it's hard to say what the right thing to do is. And this will probably never happen anyway.

[2022-11-28 19:55] ooxi commented on #94
@eyal0 PR #156 should not have been merged? I can revert the merge if you want, for the future I suggest we use Draft PRs

[2022-11-28 19:58] meantaipan commented on #157
Agreed, I am no longer proposing changing the rendering part.  I am proposing to allow 356A as another input file to libgerbv, which will then annotate existing layers and other structures with designator, netlist etc. info.  As mentioned, I think this is feasible without huge amounts of code or changing the current API, and only appending to current data structures.

[2022-11-28 20:00] ooxi commented on #157
@meantaipan I'm open to extending the PI to support 356A if you would like to give it a try. While I do not have the resources to do the implementation, I'm more than happy helping you navigate gerbv's source code if you have any questions

[2022-11-28 20:09] meantaipan commented on #157
That's great.  Yes, I mentioned above that I was going to do the work.  I just didn't want to start without getting some buy-in from existing developers.

I probably will have some questions.  If this thread is appropriate for that then I will continue to use it.  Otherwise, I'm open to other suggestions.  I'm an experienced code developer, but bit of a novice with github etiquette.

[2022-11-28 20:13] ooxi commented on #157
@meantaipan feel free to use this thread for discussion. GitHub also provides a [bulletin board like subsystem](https://github.com/gerbv/gerbv/discussions) but it's not enabled for this project since it would duplicate the mailing list.

[2022-11-30 23:08] meantaipan commented on #157
First stage is almost complete, which implements RS274-X2 attributes (```%TF...*%``` etc.).  The library can now read and write such files.  The exporter is also a bit cleaned up: if there are any file attributes, then it writes X2 according to the most recent recommendations, otherwise it is the same as before.  Next stage is to implement the IPC-D-356A reader and annotations of images via the at